body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 4% 10%;
  color: rgb(57, 57, 59);
  background-color: whitesmoke;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.polarization-chart {
  position: relative;
  width: 630px;
  height: 630px;
  background-color: white;
  padding: 24px 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.center-circle {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(51, 166, 255);
}

.line {
  width: 37%;
  height: 1px;
  background-color: rgb(57, 57, 59);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  cursor: pointer;
  transition: all .4s;
}

.line-bold {
  height: 2.5px;
}

.line:hover {
  background-color: rgb(51, 166, 255);
  color: rgb(51, 166, 255);
}

.line span {
  text-align: center;
  width: 100px;
  position: absolute;
  top: -10px; /* 라벨을 선 위로 조정 */
  right: -76px; 
}

.line-bold span {
  top: -10px; /* 라벨을 선 위로 조정 */
  right: -76px; 
  font-size: large;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  .polarization-chart {
    width: 310px;
    height: 310px;
    padding: 20px 6px;
  }
  .center-circle {
      position: absolute;
      width: 70px;
      height: 70px;
      font-size: 18px;
  }
  .line {
    width: 40%;
  }
  .line span {
      font-size: 7px;
      top: -5px; /* 라벨을 선 위로 조정 */
      right: -60px; 
  }
}

/* button */
.btn{
  padding: 14px 20px;
  border: none;
  background: #2575fc;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
  height: fit-content;
  margin-top: 40px;
  z-index: 88;

}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}